body {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 10pt;
    font-family: consolas, monospace;
    text-align: left;
    background: black;
    color: white;
}

#all { display: inline-block; }

#launcher-container {
    text-align: left;
    display: block;
    padding: 4px;
    padding-right: 0px;
    white-space: nowrap;
}

.launcher-argument { 
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    border-bottom: 2px solid #acf;
}

#launcher-container[smart-type="Cmd"]:before {
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    content: "Cmd:"
}

#launcher-container[smart-type="JSEval"]:before {
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    content: "Eval:"
}

#launcher-container[smart-type="Web"]:before {
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    content: "Web:"
}

#launcher-container[smart-type="Email"]:before {
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    content: "Email:"
}

.launcher-argument[contenteditable=true]
{
    border-bottom: 2px solid #f94;
}

.launcher-argument:empty:before
{
    color: #666;
    content: "EMPTY";
}

#launcher-completion-container {
    display: none;
    text-align: left;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}

#launcher-completion-container.show {
    display: block;
    padding: 2px;
}

/* #launcher-completion-container:before { */
/*     display: block; */
/*     margin-bottom: 2px; */
/*     white-space: pre; */
/*     content: "Completion:"; */
/*     color: white; */
/* } */

.launcher-completion {
    display: inline-block;
    padding: 2px;
    background: #aaa;
    color: black;
    margin: 2px;
    border-radius: 3px;
    white-space: pre;
}

:focus { outline: none; }
