body {
    padding: 0px;
    margin: 0px;
    font-size: 10pt;
    font-family: consolas, monospace;
    text-align: center;
}

#launcher-container {
    text-align: left;
    display: block;
    padding: 4px;
    padding-right: 0px;
    white-space: nowrap;

    background: black;
    color: white;
}

.launcher-argument { 
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    border-bottom: 2px solid #acf;
}

#launcher-container:before {
    display: inline-block; 
    padding: 2px;
    margin-right: 4px;
    white-space: pre;
    content: "CMD:"
 }

.launcher-argument[contenteditable=true]
{
    border-bottom: 2px solid #f94;
}

.launcher-argument:empty:before
{
    color: #999;
    content: "EMPTY";
}

#launcher-completion-container {
    background: #444;
    color: white;
    text-align: left;
    max-height: 300px;
    overflow-y: hidden;
}

.launcher-completion {
    display: inline-block;
    padding: 2px;
    background: black;
    margin: 2px;
    color: white;
    border-radius: 3px;
    white-space: pre;
}
